.message {
	display: flex;
	margin-bottom: 5px;
}

.messageServer {
	justify-content: flex-start;
}

.messageClient {
	justify-content: flex-end;
}

.message span {
	padding: 8px 14px;
	background-color: black;
	color: white;
	border-radius: 40px;
}

.messageServer span {
	background-color: #3f51b5;
}
